/*Colors*/
footer,
header {
  color: #000 !important;
  background-color: #fff !important;
}
button {
  background-color: #2E73AC;
  color: #ffffff;
}
#descr {
  background-color: #050F1E;
  color: #ffffff;
}
a {
  color: #ffffff;
}
.graphicsWrapper {
  background-color: #003366;
}
h2 {
  color: #ffffff;
}
.lf-text-color {
  color: #ffffff;
}
.lf-text-white {
  color: #fff;
}
.lf-red {
  color: #fff !important;
  background-color: #f44336 !important;
}

.lf-text-grey, .lf-hover-text-grey:hover{
  color: #757575!important;
}