body
{
	background-color: white;
	margin-top: 4%;
	font-size: 1.3em;
}

#suggestedArea{
	display: flex;
	flex-direction: row;
}
h2
{
	color: black;
	text-align: center;
}

#suggestions,#crime,#schools,#grocery,#transport,#income,#houses
{
	</* text-align: center; */>
	margin-top: 3%;
}

.area{
	margin: 30px;
	border:solid;
	padding: 10px;
}


@media only screen and (max-device-width:450px) 
{
	#suggestions,#crime,#schools,#grocery,#transport,#income,#houses
	{
		font-size:2em;
	}
}
@media only screen and (min-device-width:450px) and (max-device-width:700px)
{
	#suggestions,#crime,#schools,#grocery,#transport,#income,#houses
	{
		font-size:1.5em;
	}
}

