/*Colors*/
@brandBgColor:#050F1E;
@brandTextColor:#ffffff;

@headerFooterTextColor:#ffffff;
@headerFooterBgColor: #000000;

@brandButtonBgColor:#2E73AC;
@brandButtonTextColor:#ffffff;

@linkTextColor:#ffffff;


footer,
header {
    color:@headerFooterTextColor;
    background-color:@headerFooterBgColor;
}

button{
	background-color:@brandButtonBgColor;
	color:@brandButtonTextColor;
}

#descr{
	background-color:@brandBgColor;
	color:@brandTextColor;
}


a{
	color:@linkTextColor;
}